@import "../base/variables"; // variable.less

/*-------------------------------------
FOOTER
---------*/


.footer-section{
  background: #191818;
}
.footer-content{
  padding: 65px 0px 55px;
  .logo{
    margin-bottom: 30px;
  }
  h4{
    color: $white;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
  }
  p{
    color: $white
  }
  ul{
    li{
      a{
        font-size: 15px;
        color: $white;
        display: block;
        margin-bottom: 12px;
      }
    }
  }
}
.blog-sidebar ul li a:before,
.custom-nav-list .dropdown-menu li a:before,
.footer-content ul li a:before {
    font-family: "Ionicons";
    content: "\f125";
    margin-right: 10px;
    font-size: 11px;
}

.address-widget {
  border-top: 1px solid rgba(255, 255, 255, .05);
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  padding:15px 0px 18px;
  margin-top: 25px;
  i{
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-top: 6px;
  }
  .number{
    margin-bottom: 5px;
    font-weight: 700;
  }
  .email-number{
    margin-bottom: 0px;
  }
}
.middle-content {
  border-right: 1px solid rgba(255, 255, 255, .05);
  border-left: 1px solid rgba(255, 255, 255, .05);
  padding-left: 70px;
}
.subscribe-form {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  input{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .05);
    margin-top: 30px;
    &:focus{
      border: 1px solid rgba(255, 255, 255, .05);
      color: rgba(255, 255, 255, .50);
    }
  }
  .subscribe-form input::placeholder{
    colro: red;
  }
  button{
    border: none;
    background: $orange;
    padding: 5px 22px;
    position: absolute;
    color: #fff;
    right: 5px;
    bottom: 5.5px;
    font-size: 18px;
  }
}

.social{
  a{
    color: #ffffff;
    &:hover{
       background: $red;
    }
    i{
      font-size: 18px;
    }
  }
}
.parallelogram{
  transform: skewX(-25deg);
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.copyright {
  background: #1e1e1e;
  padding: 15px 0px 10px;
  line-height: 53px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.copyinfo{
  p{
    margin-bottom: 0px;
    color: $white;
  }
}
.newsletter-content{
  padding-left: 70px;
}
.contact-content {
  padding-right: 50px;
}
.payment-method {
  text-align: right;
  a{
    padding-left: 10px;
  }

}