@import "../base/variables"; // variable.less
/*-------------------------------------
HEADER
---------*/
.custom-nav {
  padding: 0px;
}
.logo-brand{
  margin: 0px;
  padding:17px  0px;
  position: absolute;
  top: 0;
  left: 0;
}
.search-icon {
    font-size: 19px;
    color: black;
    cursor: pointer;
}
.love-cart {
    margin-right: 2px;
}
.shopping-cart,
.search-cart{
  display: inline-block;
}
.angle-icon-down:after{
	content: '\f123';
	font-family: Ionicons;
	margin-left: 5px;
	font-size: 9px;
	vertical-align: middle;
}
.blog-sidebar ul li a:before,
.custom-nav-list .dropdown-menu li a:before{
  color: $red;
}
.custom-nav-list .dropdown-menu li a:hover{
  color: $red;
}
.topbar-list ul li{
  display: inline-block;
  padding-right: 10px;
}
.topright a {
    display: block;
    padding: 3px 0px;
}
.loginarea,
.language-dropdown {
    width: 145px;
    position: absolute;
    z-index: 999;
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    display: none;
    top: 34px;
}
.gearx-topbar {
    box-shadow: 2px 0px 32px rgba(0, 0, 0, .07);
    padding: 10px 0px;
}
.location-content{
    border-bottom: 1px solid #e8e8e8;
    padding: 22px 0px 28px;
}
.location-content .parallelogram {
    background: #c1030f;
    height: 40px;
    width: 43px;
    line-height: 50px;
    text-align: center;
}
.location-content .parallelogram i{
  color: white;
  font-size: 30px;
}
.phone-icon {
    font-size: 24px !important;
}
.location,
.phone-call {
    display: inline-block;
    vertical-align: sub;
    margin-left: 20px;
}
.location,
.phone-call{
  p{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
  }
}
.parent-parallelogram {
    display: inline-block;
    margin-left: 40px;
    text-align: left
}
.location h4 {
    margin-bottom: 0;
}
.main-logo {
    padding: 15px 0px 0px;
    clear: both;
    display: inline-block;
    float: left;
}

@media (min-width: 992px) {
  .custom-nav .dropdown-menu {
    position: absolute;
    min-width: 235px;
    background: #fff;
    display: block;
    left: 0;
    top: 65px;
    margin: 0;
    border: 0;
    opacity: 0;
    padding: 12px 0px;
    visibility: hidden;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    -webkit-transition: .2s ease-in-out;
    transition: .3s;
  }
  .dropdown-menu {
    border: 1px solid transparent !important;
    li {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .custom-nav .dropdown-menu li a {
    color: #000;
    padding: 5px 20px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
  }
  .navbar-expand-lg .custom-nav .dropdown-menu li a {
    color: #000;
    padding: 6px 30px;
    white-space: nowrap;
    font-size: 14px;
    &.nav-link {
      color: #000;
      padding: 6px 15px;
      white-space: nowrap;
      font-size: 14px;
    }
  }
  #main-nav .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 55px;
    transition: .3s;
  }
}

@media (max-width: 991px) {
  .custom-nav-list li {
    border-top: 1px solid #ddd;
  }
  .dropdown-menu{
    border: none;
    padding-left: 30px;
  }
}

.menu-toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
  .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    span {
      width: 100%;
      height: 2px;
      position: relative;
      top: 0;
      left: 0;
      margin: 4px 0;
      &:nth-child(1) {
        transition-delay: .3s;
      }
      &:nth-child(2) {
        transition-delay: .4s;
      }
      &:nth-child(3) {
        transition-delay: .5s;
      }
    }
  }
  .hamburger-cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    display: block;
    span {
      height: 0%;
      width: 2px;
      position: absolute;
      top: 0;
      left: 10px;
      transition-delay: 0s;
      &:nth-child(1) {
        height: 0%;
        width: 2px;
        position: absolute;
        top: 0;
        left: 10px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 10px;
        transition-delay: .2s;
      }
    }
  }
  .hamburger span, .hamburger-cross span {
    display: block;
    background: #000;
    border-radius: 3px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}
.navbar.sticky-nav .menu-toggle {
  .hamburger span, .hamburger-cross span {
    background: #000;
  }
}
.navbar-toggler {
  &[aria-expanded="true"] {
    .hamburger span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: .125s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
    }
    .hamburger-cross span {
      &:nth-child(1) {
        height: 100%;
        transition-delay: .3s;
      }
      &:nth-child(2) {
        width: 100%;
        transition-delay: .4s;
      }
    }
  }
  outline: none;
  padding: 0;
  border: 0;
  &:focus {
    outline: none;
  }
}

.nav-button {
  margin-left: 30px;
}

.custom-nav-list li a {
  padding: 15px 30px 15px 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  position: relative;
}
.custom-nav-list li a:hover{
	color: $red;
}

.shoptab ul li a.active:after,
.shoptab ul li a.active:before,
.filter-option .filter.active:after,
.filter-option .filter.active:before,
.custom-nav-list > li > a > span:after,
.custom-nav-list > li > a > span:before{
  width: 1px;
  height: 12px;
  background: $red;
  content: "";
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transform: skew(-30deg);
  position: absolute;
  margin:  0 auto;
  opacity: 0;
}

.shoptab ul li a.active:after,
.shoptab ul li a.active:before,
.filter-option .filter.active:after,
.filter-option .filter.active:before,
.custom-nav-list > li > a > span:hover:after,
.custom-nav-list > li > a > span:hover:before {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  opacity: 1;
}

.custom-nav-list > li > a span:before{
  top: 20px;
  left: 0;
  right: 12px;
}
.custom-nav-list > li > a span{
  position: relative;
}
.custom-nav-list > li > a span:after{
  bottom: 20px;
  left: 20px;
  right: 0;
}
.shoptab ul li a.active:before,
.filter-option .filter.active:before{
  top: -10px;
  left: 0;
  right: -14px;
}
.shoptab ul li a.active:after,
.filter-option .filter.active:after{
  bottom: -10px;
  left: -20px;
  right: 0;
}
.shoptab ul li a.active:after,
.shoptab ul li a.active:before,
.filter-option .filter.active:after,
.filter-option .filter.active:before{
  height: 10px;
}
.shopping-cart {
      color: #000;
      font-weight: 700;
      padding: 17px 0px 17px 18px;
       &:hover{
        .minicart-items-wrapper{
          opacity: 1;
          visibility: visible;
          transition: all 0.3s ease 0s;
          top: 43px;
        }
      }
  a{
    i{
      font-size: 20px;
    }
    
  }
}

.add-item {
  position: absolute;
  top: -12px;
  right: -10px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  background: #c1030f;
  border-radius: 100px;
  text-align: center;
  line-height: 15px;
  color: white;
  font-weight: bold;
}
.cart-title,
.shopping-cart{
  position: relative;
}

.custom-nav-list .dropdown-menu li a {
  color: #000;
}
.useroption a i {
    vertical-align: middle;
    margin-right: 6px;
}
.minicart-items-wrapper {
    position: absolute;
    z-index: 99;
    background: white;
    padding: 30px;
    top: 55px;
    width: 290px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    .item-name{
      padding: 16px 15px 0px;

      h4{
        font-weight: 400;
      }
      span{
        color: $red;
         font-weight: 400;
         text-align: left;
         display: block;
      }
    }
    .remove-action {
      padding: 27px 0px 0px 17px;
    }
    .product-name-thumb{
        border-top: 1px solid $border;
        margin-bottom: 15px;
        display: flex;
    }
    .total-cart {
      padding-top: 15px;
      border-top: 1px solid #e2e2e2;
      padding-bottom: 15px;
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 15px;
    }
}
.cart-btn a {
    font-size: 12px;
    padding: 8px 15px;
    float: left;
}
.shopping-cart-parent {
    position: absolute;
    right: 15px;
    z-index: 99;
    top: 54%;
    transform: translateY(-50%);
}
.banner-pad-right{
  padding-right: 5px;
}
.banner-pad-left{
  padding-left: 5px;
}
.custom-nav-list {
    margin-right: 40px;
}
.search-button {
    position: absolute;
    right: 0px;
    top: 0;
    background: transparent;
    border: navajowhite;
    padding: 8px;
}
.search-box {
    position: absolute;
    right: 0px;
    bottom: -84px;
    padding: 15px 15px;
    background: #ddd;
    display: none;
}
form.search-form {
    position: relative;
}
form.search-form input {
    padding: 0px 40px 0px 15px;
    height: 40px;
    background: #fff !important;
}
.close-icon {
    display: none;
}

.search-cart.search-none .search-i {
    display: none;
}
.search-cart.search-none .search-box{
  display: block;
}
.search-cart.search-none .close-icon {
    display: block;
}
.product-name-thumb.thumb-border {
    border-top: none;
}
.product-name-thumb.second-thumb {
    padding-top: 15px;
}

.nav-social{
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0;
  top: 17px;

  li{
    display: inline-block;
    list-style: none;
    padding-left: 18px;
    font-size: 18px;
    color: #000;
    transition: .3s;
    &:hover{
      color: $red;
      transition: .3s;
    }
  }
}
.office-contact{
  display: inline
}
.loginarea.list,
.language-dropdown.list {
    display: block;
}
.loginarea a,
.language-dropdown a{
  display: block;
  padding-top: 2px;
  text-align:left;
}
.language-area a {
    font-size: 13px;
}
.product-name-thumb .item-name p {
    margin-bottom: 0;
}