


$white:#fff;
$black: #000;
$red: #c1030f;
$dark: #070101;
$yellow: #fac917;
$border: #e2e2e2;
$deep: #b6b6b6;
$orange: #ff5b0a;
$blue: #0b1e97;
$darkOrange: #d3500f;
$grayDark: #232323;
$copyRight: #1e1e1e;
$overlay: #151c4c;





$open: 'Open Sans', sans-serif;