@import "../base/variables"; // variable.less

/*-------------------------------------
SLIDER
---------*/


.tp-caption.LandingPage-Title, .LandingPage-Title{

}
.tp-caption.Newspaper-Title-Centered, .Newspaper-Title-Centered{
  font-family: $open;
  font-style: italic;
  letter-spacing: 0px;
  font-weight: 900;
}
.home-slider{
  .rev-btn{

    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  
}
